<h1>Add new book</h1>
<%= form_for :book do |f| %>
	Title: <%= f.text_field :title %><br />
	Author: <%= f.text_field :author %><br />
	Pages: <%= f.text_field :pages %><br />
	Description: <%= f.text_area :description %><br />
	<%= f.submit %>
<% end %>